@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
scroll-behavior: smooth;
font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   overflow-x: hidden;
   background: #08020ade;
   color: white
}

@tailwind base;
@tailwind components;
@tailwind utilities;